@import './../../../../scss/abstracts';

:host {
  outline: none;
}

.select {
  padding: $size-12;
  cursor: pointer;
  border-left: 3px solid $color-transparent;

  p, i {
    color: $color-secondary-text;
  }

  p {
    margin: 0;
  }

  &:hover {
    background-color: $background-color-hover;
  }

  &.disabled {
    cursor: default;

    &:hover {
      background-color: $color-white;
    }

    opacity: .5;
  }

  &.active {
    border-left: 3px solid $color-primary-theme;
    background-color: $background-color-hover;
  }
}
